{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="box box-primary">
                <div class="box-header with-border text-center">
                    <h3 class="box-title">Cadastrar Servicos</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" action="{% url "add_servicos" %}">{% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input class="form-control input-lg" id="nome" placeholder="Ex.:algodao" type="text"
                                   name="nome" required>
                        </div>

                        <div class="form-group">
                            <label for="dtinicio">Dt Inicio:</label>
                            <input class="form-control input-lg" id="dtinicio" placeholder="dd/mm/yyyy" type="date"
                                   name="dtinicio"
                                   required>
                        </div>

                        <div class="form-group">
                            <label for="dtfim">Dt Fim:</label>
                            <input class="form-control input-lg" id="dtfim" placeholder="dd/mm/yyyy" type="date"
                                   name="dtfim"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="produto_id">Produto:</label>
                            <input class="form-control input-lg" id="produto_id" placeholder=" 01" type="integer"
                                   name="produto_id"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="qtdade">Quantidade</label>
                            <input class="form-control input-lg" id="qtdade" placeholder=" 10" type="decimal"
                                   name="qtdade"
                                   required>
                        </div>						
                        <div class="form-group">
                            <label for="valor">Valor:</label>
                            <input class="form-control input-lg" id="valor" placeholder="12,40" type="decimal"
                                   name="valor"
                                   required>
                        </div>
  
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <a href="/" class="btn btn-default pull-left">Cancelar</a>
                        <button type="submit" class="btn btn-primary pull-right">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#add').addClass('active');
        });
    </script>
    <!-- /.row -->
{% endblock %}