{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- form start -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>ITEM</th>
                                        <th>SKU</th>
                                        <th>QTD</th>
                                        <th>BALCAO</th>
                                        <th>Criado em</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in itens %}
                                        <tr>
                                            <td>{{ item.id }}</td>
                                            <td>{{ item.produto.titulo }}</td>
                                            <td>{{ item.produto.sku }}</td>
                                            <td>{{ item.quantidade }}</td>
                                            <td>{{ item.balcao }}</td>
                                            <td>{{ item.criado_em|date:"d/m/Y G:i" }}</td>
                                            <td>
                                                <a class="remover" href="{% url 'remove_product' item.id %}">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#inicio').addClass('active');
        });
    </script>
    <!-- /.row -->

{% endblock %}