{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- form start -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
								     	<th>ID</th>
                                        <th>NOME</th>
                                        <th>PRECO MEDIO</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for produtos_s in itens_produtos %}
                                        <tr>
										    <td>{{ produtos_s.id }}</td>
                                            <td>{{ produtos_s.nome }}</td>
                                            <td>{{ produtos_s.prmedio }}</td>
                                            <td>
                                                <a class="remover" href="{% url 'remove_produtos' produtos_s.id %}">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a  href="{% url 'edit_produtos' produtos_s.id %}">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#inicio').addClass('active');
        });
    </script>
    <!-- /.row -->

{% endblock %}